@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

$primaryColor: tomato;
$secondaryColor: #fff;

body {
  background-color: $primaryColor;
  padding: 3em;
  font-family: 'roboto', Georgia, serif;
}

.fruitBox {
  width: 100%;
}
.container {
  width: 70%;
  display: inline-block;
}

button {
  width: 20%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 36px;
  background: rgba(255, 255, 255, 0.4);
  padding: 1em;
  border: 0;
  color: $secondaryColor;
  
  &:focus, &:hover {
    outline:rgba($secondaryColor, 0.2) solid 4px;  
    background:rgba($secondaryColor, 0.8);
    color:black;
    cursor: pointer;
  }
}

.searchField {
  box-sizing: border-box;
  width: 100%;
  height: 1.5em;
  padding: 0 0.5em;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  
  &:focus{
    outline: none;
    background-color: lighten(gray, 6);
  }
}

.with-suggestions {
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid #fff;
  border: 1px solid #999;
  overflow: auto;
  cursor: default;
}

.autocomplete-box {
  background: $secondaryColor;
}

.autocomplete-suggestion {
  &:hover {
    color: red
  }
  
  & strong {
    color: red;
  }
}

select {
  box-sizing: border-box;
  width: 100%;
}

.active {
  font-style: bold;
  background-color: grey;
}

